.game {
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	.board {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 1;
	}

	.square {
		width: 33%;
	}

	.bar {
		display: flex;
		justify-content: space-around;
	}
	.roundManager {
		display: inline-flex;
	}
}
